<div id="content">
    <div id="sidebar">
        <div class="ui vertical steps">
            <div class="ui active step">
                {{order.step[0]}}
            </div>
            <div class="ui disabled step">
                {{order.step[1]}}
            </div>
            <div class="ui disabled step">
                {{order.step[2]}}
            </div>
        </div>
    </div>

    <div class="ui message warning attached" ng-show="cart.items.length == 0">
        <b>您的购物车还是空的！</b>
    </div>

    <table class="ui table segment" ng-hide="cart.items.length == 0">
        <thead>
            <tr>
                <th colspan="2">商品信息</th>
                <th>单价（元）</th>
                <th>数量</th>
                <th>金额（元）</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="item in cart.items">
                <td><img src="{{item.product.previewImageUrl}}" width="100px"/></td>
                <td>{{item.product.name}}</td>
                <td>{{item.product.price}}</td>
                <td>
                    <div class="ui input mini">
                        <input type="text" maxlength="2" ng-model="item.count" />
                    </div>
                    <div class="ui icon mini buttons">
                        <div class="ui button" ng-click="cart.addProduct(item.product.id)"><i class="icon add red"></i></div>
                        <div class="ui button" ng-click="cart.subProduct(item.product.id)"><i class="icon minus red"></i></div>
                    </div>
                </td>
                <td>{{item.count * item.product.price}}</td>
                <td>
                    <div class="ui icon mini button" ng-click="cart.removeProduct(item.product.id)"><i class="icon remove red"></i></div>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <th colspan="6">
                    合计：{{cart.total()}} 元
                </th>
            </tr>
        </tfoot>
    </table>
    <a class="ui button floated right" href="#/placeorder" ng-hide="cart.items.length == 0">结算</a>
    <a class="ui button floated right" href="#/products">继续购物</a>
</div>